/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    background-color: rgba(255, 0, 0, 0.322);
    border: 1px solid black;
}

.container{
    width: 100vw;
    position: relative;
}


/*UTILITIES*/

.d-flex{
    display: flex;
}

/*SIDE MENU*/

.side-menu{
    width: 20vw;
    max-width: 240px;
    height: 92vh;
    padding: 1%;
    background-color: black;
}

.side-menu .side-menu-desktop{
    flex-direction: column;
    
}

.side-menu .side-menu-desktop span img{
    object-fit: contain;
    width: 210px;
    padding-bottom: 20px;
}

.side-menu .side-menu-desktop ul li{
    list-style: none;
    color: #A3A3A3;
    padding: 5px 0;
}

.side-menu .side-menu-desktop ul li img{
    object-fit: contain;
    width: 31px;
    padding-right: 5px;
}

.side-menu .side-menu-desktop ul li .fa-plus{
    background-color: #A3A3A3;
    padding: 8px;
    color: black;
}

.side-menu .side-menu-desktop h2{
    padding: 25px 0 5px 0;
    font-size: 15px;
    color: white;
}

.side-menu .side-menu-desktop ul:last-child li{
    padding: 12px 0;
}

/*SPOTIFY CONTENTS*/

.spotify-contents{
    width: 80vw;
    height: 92vh;
    overflow: hidden;
    overflow: scroll;
    padding-top: 10vh;  
    min-width: calc(100vw - 240px);
}


/*TOP BAR*/

.top-bar{
    width: 80vw;
    height: 8vh;
    position: fixed;
    right: 0;
    min-width: calc(100vw - 240px);
}

/*BUTTOM BAR*/

.buttom-bar{
    width: 100vw;
    height: 8vh;
}



/*RESPONSIVE AEREA*/