/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    background-color: rgba(255, 0, 0, 0.322);
    border: 1px solid black;
}

.container{
    width: 100vw;
    position: relative;
}


/*UTILITIES*/

.d-flex{
    display: flex;
}

/*SIDE MENU*/

.side-menu{
    width: 20vw;
    max-width: 240px;
    height: 92vh;
    padding: 1%;
}


/*SPOTIFY CONTENTS*/

.spotify-contents{
    width: 80vw;
    height: 92vh;
    overflow: hidden;
    overflow: scroll;
    padding-top: 10vh;  
    min-width: calc(100vw - 240px);
}


/*TOP BAR*/

.top-bar{
    width: 80vw;
    height: 8vh;
    position: fixed;
    right: 0;
    min-width: calc(100vw - 240px);
}

/*BUTTOM BAR*/

.buttom-bar{
    width: 100vw;
    height: 8vh;
}



/*RESPONSIVE AEREA*/