/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    background-color: rgba(255, 0, 0, 0.322);
    border: 1px solid black;
}

.container{
    width: 100vw;
    display: flex;
    position: relative;
}

/*UTILITIES*/



/*SIDE MENU*/

.side-menu{
    width: 20vw;
    height: 90vh;
}


/*SPOTIFY CONTENTS*/

.spotify-contents{
    width: 80vw;
    height: 90vh;
    overflow: hidden;
    overflow: scroll;
    padding-top: 70px;  
}


/*TOP BAR*/

.top-bar{
    width: 80vw;
    height: 10vh;
    position: fixed;
    right: 0;
}

/*BUTTOM BAR*/

.buttom-bar{
    width: 100vw;
    height: 10vh;
}